.sidebar-icons
{
    line-height: 0;
}
.w-70
{
    width: 70%;
}
.h-50-px
{
    height: 50px;
}
.h-60
{
    height: 60px;
}
.border--1
{
    border: 1px solid rgba(171, 178, 186, 0.3);
}
.fw-500
{
    font-weight: 500;
}
.fw-600
{
    font-weight: 600;
}
.border-bottom-1
{
    border-bottom: 1px solid rgba(171, 178, 186, 0.3);
}
.conversation
{
    margin: 16px 26px;
    border-bottom: 1px solid rgba(171, 178, 186, 0.3);
}
.conversation-section
{
    padding: 10px 0;
    align-items: baseline;
}
.conversation-section span
{
    font-size: 14px;
    opacity: 0.9;
    color: var(--vz-font-color-theme);
}
#scrollbar
{
    height: 100vh !important;
}
.notifications-alert
{
    background-color: #F5F5F5;
    padding: 8px;
    border-radius: 8px;
}
.font-theme
{
    color:var(--vz-font-color-theme);
}
.blue-marker
{
    display: block;
    height: 10px;
    width: 10px;
    background-color: #2B5BFC;
    border-radius: 50%;
}
.text-light-pink {
    background-color: #F1B1D5;
    color: white;
    height: 30px;
    width: 59px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-light-green
{
    background-color: #BDE1CD;
    color: white;
    height: 30px;
    width: 59px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg-gray-light
{
    background-color:#f8f8f9;
}
.border-left-blue-3
{
    border-left: 3px solid #2B5BFC;
}
.w-10
{
    width: 10%;
}
.h-100-vh
{
    height: 100vh;
}
.btn-secondary-theme
{
    background-color: #2B5BFC;
    border-radius: 15px;
    color: white;
}
.btn-secondary-theme:hover
{
    background-color: #1b50ff;
    color: white;
}
.waitList h3
{
    font-size: 30px;
    font-weight: 700;
    color: var(--vz-font-color-theme);
}
.waitList p
{
    color: var(--vz-font-color-theme);
    font-size: 18px;
    font-weight: 500;
    opacity: 0.7;
    margin: 20px 0;
    line-height: 2;
}
